
.btn-custom {
  background-color: #0F1A3B;
  border-color:  #0F1A3B;
  color: white;
}

.btn-custom:hover {
  background-color: #23366e;
  border-color: #23366e;
}
.blocs{
    width: 350px;
}

.btn-filtre {
  border: 1px solid #6c757d;
  background-color: white;
}

.btn-filtre.active {
  background-color: #0F1B3D;
  border-color: #0F1B3D;
  color: white;
}