.incident-image {
  height: 150px;
  object-fit: cover;
}

.card {
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}
.card-description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
